/*
Theme Name: Saasland
Theme URI: http://saasland.droitthemes.com
Author: DroitThemes
Author URI: https://themeforest.net/user/droitthemes
Description: Saasland is a creative WordPress theme for saas, software, startup, mobile app, agency and related products & services. SaasLand is loaded with tons of features, elements & blocks, options that give its users real flexibility to create a dynamic, professional website in no time.
Version: 2.2.7
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: saasland
*/

/***
********************** Reset CSS ***********************/
.admin-bar header.header_area {
    margin-top: 32px;
}

.saasland-page {
    padding: 135px 0px 135px;
}

.saas_home_area .saas_home_img img {
    -webkit-box-shadow: 0px 40px 60px 0px rgba(0, 11, 40, 0.16);
    box-shadow: 0px 40px 60px 0px rgba(0, 11, 40, 0.16);
    border-radius: 8px;
}

.payment_features_content img,
.row.featured_item img,
.prototype_banner_area img.protype_img,
.call_action_area .action_one,
.mobile_img .women_img, .mobile_img .mobile {
    max-width: none !important;
}

.service_item h4 {
    padding-right: 50px;
}

.about_img_slider .about_text h5 {
    color: #fff;
}

.about_img .about_img_slider .about_item:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    z-index: 1;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    transition: opacity 0.4s linear 0s;
}

.about_img .about_img_slider .about_item:hover:before {
    opacity: 0;
}

.paired-margin-top {
    margin-top: 50px;
}

.wow.design_img img {
    border: 2px solid #e4ebf2;
    border-radius: 6px;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
}

.partner_logo .p_logo_item {
    margin-bottom: 60px;
}

.logo-center .partner_logo {
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 70px;
    border-bottom: none;
}

.get_content {
    font-family: "Poppins", sans-serif;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.get_content h3 {
    font-weight: 300;
}

.get_content h2 {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 50px;
    font-size: 40px;
}

.get_content p {
    margin-bottom: 40px;
    font-weight: 300;
}

.dot.middle_dot {
    top: 87%;
}

.dot.middle_dot.middle_dot6 {
    top: 98%;
}

.pay_btn {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1) !important;
    box-shadow: 0px 2px 5px 0px rgba(63, 54, 132, 0.1) !important;
}

.payment_service_item .icon i {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
}

.software_featured_area .container > p {
    text-align: center;
}

.software_featured_area.has_subtitle .container > p {
    margin-bottom: 65px;
}

.software_featured_area.has_subtitle h2 {
    margin-bottom: 15px;
}

.p_category_item .social_icon a:nth-child(4), .icon .social_icon a:nth-child(4) {
    background: #0077b5;
}

.p_category_item .social_icon a:nth-child(5), .icon .social_icon a:nth-child(6) {
    background: #bd081b;
}

.p_details_three h5,
.portfolio_details_info h5 {
    margin-bottom: 30px;
    color: #222d39;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.p_details_three p,
.portfolio_details_info p {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 30px;
}

.owl-carousel .owl-item img {
    height: auto;
}

header.navbar_fixed .menu > .nav-item > .nav-link {
    color: #051441;
}

.job_details_area ul,
.footer_bottom ul,
.footer_area_four .footer_top ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
}

.text_box input[type="email"] {
    font: 300 15px/60px "Poppins", sans-serif;
    color: #222d39;
    height: 60px;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    box-shadow: 0px 2px 4px 0px rgba(12, 0, 46, 0.04);
    width: 100%;
    border: 1px solid #fff;
    padding-left: 30px;
}

.text_box input[type="eamil"]:focus {
    border-color: #f2effc;
    -webkit-box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0.06);
    box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0.06);
    outline: none;
}

.sign_btn_transparent:hover {
    color: #fff !important;
}

.error_contain p.w_color.f_300 {
    max-width: 640px;
    margin: 0 auto;
}

ul.comment-box.list-unstyled .post-comment {
    padding-top: 30px;
}

.car_get_quote_content.comments_form p.form-submit {
    position: absolute;
    right: 15px;
    bottom: -3px;
}

.comment-form-rating.mt_30 {
    display: flex;
    padding-left: 15px;
}

.pr_details .pr_excerpt {
    padding-top: 20px;
}

form#commentform {
    position: relative;
}

.car_get_quote_content .agency_banner_btn {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #5e2ced;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    border: 1px solid #5e2ced;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
}

.car_get_quote_content .agency_banner_btn:hover {
    color: #5e2ced;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}

.blog_cats {
    display: inline;
}

.blog_cats:before {
    content: "/";
    display: inline-block;
    margin: 0px 7px 0px 2px;
}

.entry_post_info .blog_cats a + a:before {
    display: none;
}

/**
*************** Widget Styling ***************/
.widget.widget_nav_menu h3.widget_title_two,
.widget.widget_meta h3.widget_title_two,
.widget.widget_pages h3.widget_title_two,
.widget.widget_archive h3.widget_title_two,
.widget.widget_categories h3.widget_title_two {
    margin-bottom: 24px;
}

.widget.widget_nav_menu ul,
.widget.widget_meta ul,
.widget.widget_pages ul,
.widget.widget_archive ul,
.widget.widget_categories ul {
    margin-bottom: 0px;
    padding-left: 0;
    list-style: none;
}

.widget.widget_nav_menu ul li,
.widget.widget_meta ul li,
.widget.widget_pages ul li,
.widget.widget_archive ul li,
.widget.widget_categories ul li {
    font-weight: 400;
    color: #282835;
}

.widget.widget_nav_menu ul li a,
.widget.widget_meta ul li a,
.widget.widget_pages ul li a,
.widget.widget_archive ul li a,
.widget.widget_categories ul li a {
    font-size: 14px;
    line-height: 36px;
}

.widget.widget_nav_menu ul li a:hover,
.widget.widget_meta ul li a:hover,
.widget.widget_pages ul li a:hover,
.widget.widget_archive ul li:hover,
.widget.widget_archive ul li a:hover,
.widget.widget_categories ul li a:hover {
    color: #5e2ced;
    border-color: #5e2ced;
}

/**
*************** Blog Single Styling ***************/
.has-post-thumbnail.blog_single .blog_content {
    padding-top: 50px;
}

.blog_single blockquote {
    margin-bottom: 40px;
    color: #5e2ced;
    font-style: italic;
    border-left: 4px solid #5e2ced;
    padding-left: 35px;
}

.blog_single h1,
.blog_single h2,
.blog_single h3,
.blog_single h4,
.blog_single h5,
.blog_single h6 {
    line-height: 1.7em;
}

.widget.sidebar_widget {
    margin-top: 60px;
}

.widget.sidebar_widget:first-child {
    margin-top: 0;
}

/**
*************** Comments Styling ***************/
.comment-box .post_comment .post_author a.comment-reply-link {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #525c7c;
    padding-top: 14px;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.comment-box .post_comment+ul.children {
    padding-left: 100px;
    list-style: none;
}

p.logged-in-as {
    padding-left: 15px;
}

p.form-submit {
    padding-left: 15px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.form-submit input#submit {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #7444fd;
    border-radius: 3px;
    padding: 15px 30px;
    border: 1px solid #7444fd;
    margin-top: 50px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 35px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    margin: 0;
}

.comment_box div#respond {
    padding-top: 20px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
.form-submit input#submit:hover {
    color: #7444fd;
    background: transparent;
}

.logged-in .get_quote_form .form-group {
    margin-bottom: 0;
}

.blog_single .blog_content p {
    margin-bottom: 30px;
}

.breadcrumb_content h1 {
    line-height: 1.3em;
}

.listing_tab .item {
    width: 100%;
}

.job_listing .listing_tab .list_item figure {
    margin-right: 20px !important;
}

.job_listing nav.navigation.pagination {
    margin-top: 60px;
    text-align: center;
}

.pagination .nav-links .page-numbers {
    width: 40px;
    height: 40px;
    border: 1px solid #e7e7f6;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #677294;
    font-size: 16px;
    border-radius: 50%;
    background-color: #fbfbfd;
    margin: 0px 3px;
}

.pagination .nav-links .page-numbers {
    width: 40px;
    height: 40px;
    border: 1px solid #e7e7f6;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #677294;
    font-size: 16px;
    border-radius: 50%;
    background-color: #fbfbfd;
    margin: 0px 3px;
}

.pagination .nav-links .page-numbers.current {
    background: #5e2ced;
    color: #fff;
    border-color: transparent;
}

.portfolio_gallery .portfolio_item .portfolio_img img {
    padding-top: 0;
}

.btn_get.login_btn {
    font: 500 15px "Poppins", sans-serif;
    padding: 13px 32px;
    min-width: 120px;
    display: inline-block;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border: 1px solid transparent;
}

.breadcrumb_content h1 {
    margin-bottom: 15px;
}

.no_main_menu a.navbar-brand.sticky_logo {
    padding-top: 35px;
    padding-bottom: 35px;
}

.no-post-thumbnail.post_item .media-body {
    padding-left: 0 !important;
}

.menu > .nav-item.active .nav-link,
.menu > .nav-item:hover .nav-link,
.menu > .nav-item > .nav-link {
    color: #fff;
}

.blog .menu > .nav-item.active .nav-link,
.blog .menu > .nav-item:hover .nav-link,
.blog .menu > .nav-item > .nav-link {
    color: #051441;
}

.single-post .menu_toggle .hamburger span,
.single-post .menu_toggle .hamburger-cross span,
.menu > .nav-item > .nav-link:before {
    background-color: #fff;
}

header.header_area.navbar_fixed .menu_toggle .hamburger-cross span,
header.header_area.navbar_fixed .menu_toggle .hamburger span {
    background: #5e2ced;
}

.breadcrumb_content h1,
.blog_list_item .blog_content h5 {
    word-break: break-word;
}

.post_tag {
    clear: both;
}


.footer-widget .menu {
    background: transparent;
}

.svg_intro_bottom {
    height: 100% !important;
}

.payment_banner_content .action_btn .agency_banner_btn {
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
}

.payment_banner_content .action_btn .agency_banner_btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.saas_banner_area_two .shap_img {
    left: 10px;
}

header.header_area.navbar_fixed .navbar .navbar-nav .menu-item a {
    color: #051441;
}

.p_details_three .img-fluid {
    display: block;
    margin: 0 auto;
}

ul.list_icon {
    padding-left: 35px;
}

.no_pad {
    padding: 0 !important;
}

ul.list_icon li {
    font: 300 16px "Poppins", sans-serif;
    color: #677294;
    position: relative;
    padding-left: 35px;
    margin-bottom: 13px;
}

ul.list_icon li i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #5e2ced;
}

.widget.tag_widget_two .post-tags a {
    font-size: 14px !important;
}

.pagination .nav-links .page-numbers:hover {
    border-color: #5e2ced;
    color: #5e2ced;
}

.widget.recent_post_widget_two .post_item img {
    margin-right: 25px !important;
    padding-right: 0 !important;
}

.breadcrumb_content_two h1 {
    line-height: 1.3;
}

.comments_widget_two  ul li:not(:last-child) {
    margin-bottom: 30px;
}

.pagination .nav-links .page-numbers.current:hover {
    color: #fff;
}

.blog_breadcrumb_area .breadcrumb_content_two ol li a,
.blog_breadcrumb_area .breadcrumb_content_two h5 a {
    color: #fff;
}

.img_rounded {
    border-radius: 50%;
}

.navbar-brand h3 {
    color: #fff;
    font-weight: 600;
}

.header_area.navbar_fixed .navbar-brand h3 {
    color: rgba(5, 20, 61, 0.8);
    padding-top: 0;
}

.single_post_tags.post-tags a:hover {
    background: #5e2ced;
    color: #fff;
}

.pr_sidebar .widget_category ul li:not(:last-child) {
    margin-bottom: 10px;
}

.pr_sidebar .widget_category ul li a {
    font-size: 15px;
}

.pr_sidebar .widget_product ul li .media img {
    padding: 0;
    max-width: none !important;
    width: 80px;
    margin: 0 30px 0 0;
    height: auto;
}

.widget.search_widget_two .search-form .form-control {
    padding: 0px 30px;
    background: #f3f4f9;
    border-radius: 4px;
    height: 60px;
    font-size: 15px;
    color: #677294;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    z-index: 0;
    border-color: transparent;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.widget.search_widget_two .search-form button {
    position: absolute;
    background: transparent;
    padding: 0px;
    border: 0px;
    right: 30px;
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    color: #282835;
    z-index: 0;
}

.footer_bottom, .s_pricing-item ul li,
.footer_area_four .footer_top ul li a,
.f_widget.about-widget .f_list li a {
    font-weight: 400;
}

.dot.middle_dot.middle_dot4 {
    top: 97%;
}

.software_banner_area  .software_img img {
    max-width: none;
}

.about_img .about_img_slider .about_item:before {
    width: 101%;
}

.partner_logo .p_logo_item {
    margin-bottom: 5px;
}

.ex_team_item h5 {
    font-weight: 300;
}

.wpcf7 .btn_three {
    font: 500 14px "Poppins", sans-serif;
    color: #fff;
    background: #7444fd;
    border-radius: 3px;
    padding: 15px 30px;
    border: 1px solid #7444fd;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    display: inline-block;
}

.text_box input[type="email"]::placeholder {
    color: #9ca3b9;
}

.action_btn .agency_banner_btn {
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1);
}

.action_btn .agency_banner_btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.payment_features_area .payment_features_content {
    margin-top: -150px;
}

.padd15 {
    padding: 0 15px;
}

.header_area.navbar_fixed .menu_six .menu > .nav-item:hover > .nav-link:before,
.header_area.navbar_fixed .menu_six .menu > .nav-item.active > .nav-link:before,
.menu_six .menu > .nav-item:hover .nav-link:before, .menu_six .menu > .nav-item.active .nav-link:before {
    background: transparent;
}

.portfolio_filter .work_portfolio_item + .work_portfolio_item {
    margin-left: 45px;
}

.footer_bottom ul li + li {
    margin-left: 16px;
}

.mega_menu span.arrow_carrot-right {
    display: none;
}

.dropdown-menu li a {
    position: relative;
}

.dropdown-menu span.arrow_carrot-right {
    position: absolute;
    right: -5px;
    top: 9px;
    font-size: 18px;
    color: #051441;
}

.menu_six .menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link span.arrow_carrot-right {
    color: #3d57f4;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item {
    padding: 0px 30px;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item:first-child {
    padding-top: 16px;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item:last-child {
    padding-bottom: 16px;
}

.menu > .nav-item.submenu.mega_menu .dropdown-menu .nav-item:first-child {
    padding-top: 40px;
}

.nav_full_width nav.navbar {
    padding: 0px 50px;
}

.header_area_three {
    box-shadow: none;
}

.job_listing .job_list_tab .list_item_tab, .job_listing .listing_tab .list_item .joblisting_text ul li,
.job_listing .listing_tab .list_item .joblisting_text .jobsearch-job-userlist .apply_btn {
    font-weight: 300;
}

.job_listing .listing_tab .list_item figure {
    width: 50px;
}

.header_area.navbar_fixed .navbar .btn_get.btn-meta {
    box-shadow: none;
}

.s_form_info_two .subscribe-form .form-control,
.s_subcribes .form-control {
    color: #051441;
}

.video_btn .icon {
    -webkit-box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.19);
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.19);
}

.app_img .mobile {
    max-width: none;
}

.footer_area_four .footer_bottom p a {
    color: #677294;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
    line-height: 36px;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item:last-child {
    padding-bottom: 5px;
}

.portfolio_pagination .prev, .portfolio_pagination .next {
    font-weight: 300;
}

.portfolio_pagination .prev:hover, .portfolio_pagination .next:hover {
    color: #6754e2;
}

.footer-widget .widget_title {
    color: #606179;
}
.footer_bottom p {
    margin-bottom: 0;
}

.service_carousel .owl-item .service_item {
    -webkit-box-shadow: 0px 30px 30px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 30px 0px rgba(12, 0, 46, 0.1);
}

.prototype_content .btn_three {
    width: 370px;
    text-align: center;
    margin-top: 20px;
}

.menu > .nav-item.submenu .dropdown-menu .nav-item.submenu .dropdown-menu .nav-item .nav-link:before {
    display: none;
}

.blog .menu_toggle .hamburger span, .blog .menu_toggle .hamburger-cross span {
    background: #5e2ced;
}

.blog_list_item_two .blog_content .post-info-bottom .post-info-comments:hover {
    color: #5e2ced;
}

.p_details_three .img-fluid,
.portfolio_details_area  .owl-carousel .owl-item img {
    width: 100%;
}

section.job_details_area .details_content {
    padding-bottom: 0;
    border-bottom: none;
}

.apply_form .upload_box {
    display: flex;
    border: none;
    padding: 20px 0 0;
}

.apply_form .upload_box input[type="file"] {
    padding-left: 20px;
    border: none;
    box-shadow: none;
    background: transparent;
    margin-top: -5px;
}

.navbar .menu > .nav-item.submenu.mega_menu .dropdown-menu .nav-item:hover > .nav-link {
    color: #13112d !important;
}

.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item .dropdown-menu > .nav-item:first-child {
    padding-top: 10px;
}

.navbar .search_cart .shpping-cart .dropdown-menu li.only_single_item {
    padding-bottom: 20px;
}

.blog_list_item_two .blog_content p {
    font-size: 15px;
    margin-bottom: 20px;
}

.learn_btn {
    font-weight: 400;
}

.s_pricing-item h5 {
    color: #5e2ced;
    font-size: 14px;
    text-transform: uppercase;
}

.s_pricing-item .price sub {
    bottom: 0;
    margin-left: -3px;
}

.design_tab .nav-item .nav-link,
.s_pricing-item {
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 11, 40, 0.14);
    box-shadow: 0px 20px 40px 0px rgba(0, 11, 40, 0.14);
}

.s_pricing-item:hover {
    -webkit-box-shadow: 0px 30px 60px 0px rgba(0, 11, 40, 0.14);
    box-shadow: 0px 30px 60px 0px rgba(0, 11, 40, 0.14);
}

.s_pricing-item .price {
    padding-top: 20px;
}

.s_service_item .learn_btn_two, .s_service_item h5, .s_service_item p {
    color: #fff;
}

.s_service_item .icon {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.059);
    color: #fff;
}

a.learn_btn {
    color: #677294;
}

.learn_btn:before {
    background: #677294;
}

.feedback_item .ratting .yellow_star i {
    color: #edab0b;
}

.feedback_area_two .sec_title p {
    font-style: normal;
}

.seo_subscribe_form .input-group .form-control {
    max-width: none;
}

.seo_subscribe_form .input-group input {
    width: 100%;
}

.new_footer_top .f_widget.about-widget ul li {
    margin-bottom: 6px;
}

.new_footer_top .f_widget.about-widget ul li a {
    color: #656f88;
    padding-left: 0;
}

.f_widget.about-widget ul li a {
    font: 300 16px/20px "Poppins", sans-serif;
    color: #677294;
    position: relative;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    display: inline-block;
}

.new_footer_top .f_widget.about-widget ul li a:hover {
    color: #5e2ced;
}

.new_footer_top p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #656f88;
    margin-bottom: 20px;
}

.new_footer_top .f_social_icon a {
    margin-bottom: 10px;
}

.s_service_info .s_service_item {
    border-radius: 5px;
}

.seo_features_img.seo_features_img_two .round_circle {
    bottom: 0;
}

.seo_features_img img,
.seo_features_img.seo_features_img_two img {
    max-width: none;
}

.comments_widget ul li .comments_items .media-body span,
.widget.recent_post_widget_two .post_item .media-body .entry_post_info {
    text-transform: none;
    font-weight: 300;
}

.seo_fact_item .text {
    padding-top: 10px;
}

.new_footer_top .f_social_icon a + a {
    margin-left: 0;
}

.new_footer_top .f_social_icon a {
    margin-right: 4px;
}

.widget.widget_search .search-form .form-control {
    font: 300 14px "Poppins", sans-serif;
    color: #677294;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.08);
    border-radius: 0px;
    border: 0px;
    padding-left: 30px;
    height: 55px;
    z-index: 0;
    border: 1px solid transparent;
}

.widget.widget_search .search-form button {
    border: 0px;
    border-radius: 0px;
    font-size: 16px;
    color: #282835;
    background: transparent;
    position: absolute;
    right: 20px;
    height: 100%;
    padding: 0px;
    z-index: 1;
    cursor: pointer;
}

.single .blog_single_info .blog_list_item_two .blog_content {
    padding-top: 0;
}

.home.blog a.navbar-brand.sticky_logo h3 {
    color: rgba(5, 20, 61, 0.8);
}

.widget.instagram_widget ul li {
    padding-right: 5px;
}

.startup_tab .nav-item:hover:nth-child(1) .nav-link {
    border-color: #fa6fd1;
}

.startup_tab .nav-item:hover:nth-child(2) .nav-link {
    border-color: #6fadfa;
}

.startup_tab .nav-item:hover:nth-child(3) .nav-link {
    border-color: #f3af4e;
}

.startup_tab .nav-item:hover:nth-child(4) .nav-link {
    border-color: #aa6ffa;
}

.startup_tab .nav-item:hover:nth-child(5) .nav-link {
    border-color: #fa6666;
}

.new_startup_content .app_btn:not(:first-child) {
    margin-left: 20px;
}

.progress_bar_area {
    padding: 0;
}

.payment_subscribe_info {
    z-index: 99;
}

.new_footer_area {
    overflow: hidden;
}

.page-template-default .menu_toggle .hamburger-cross span,
.page-template-default .menu_toggle .hamburger span {
    background: #fff;
}

.menu-depth-3rd li {
    padding-left: 25px !important;
}

.menu-depth-3rd li:last-child {
    margin-bottom: 10px !important;
}

.new_footer_area .widget.footer-widget {
    padding-top: 50px;
}

.new_footer_top .f_widget.about-widget ul li:first-child,
.new_footer_area .widget.footer-widget:nth-child(1),
.new_footer_area .widget.footer-widget:nth-child(2),
.new_footer_area .widget.footer-widget:nth-child(3),
.new_footer_area .widget.footer-widget:nth-child(4) {
    padding-top: 0;
}

.new_footer_area .widget.footer-widget.widget_rss ul li a {
    font-weight: bold;
}

.widget_recent_comments #recentcomments .recentcomments {
    padding-left: 70px;
}

.widget_recent_comments #recentcomments .recentcomments:before {
    line-height: 50px;
    width: 50px;
    height: 50px;
    font-size: 16px;
    top: 0;
}

.single-post .has-post-thumbnail .blog_content {
    margin-top: 25px;
}

.widget ul li a:empty {
    display: none;
}

.breadcrumb_content_two .breadcrumb {
    padding-top: 0;
}

.breadcrumb_content_two .breadcrumb li {
    font-size: 16px;
}

.breadcrumb_content_two h1 {
    margin-bottom: 5px;
}

.blog_list_item_two .post_date h2 {
    line-height: 1;
}

.blog_content .learn_btn_two i {
    font-size: 12px;
}

.blog_content h5 {
    pointer-events: none;
}

.blog_single_info .post_author_two .media-body .comment_info h3 {
    padding-bottom: 3px;
}

.post_author_two .media-body p {
    font-size: 15px;
}

.mega_menu .menu-depth-3rd li {
    padding-left: 0 !important;
}

.navbar .search_cart .shpping-cart i {
    color: #fff;
    margin-left: 20px;
}

.error_page2 .navbar .search_cart .shpping-cart i,
.error_page2 .navbar .search_cart .search a.nav-link i,
.blog .navbar .search_cart .shpping-cart i,
.blog .navbar .search_cart .search a.nav-link i,
.navbar_fixed .navbar .search_cart .search a.nav-link i,
.navbar_fixed .navbar .search_cart .shpping-cart i {
    color: #6754e2;
}

.tagcloud a:hover,
.blog_list_item .blog_content .single_post_tags.post-tags a:hover,
.blog .navbar .search_cart .shpping-cart .num,
.error_page2 .navbar .search_cart .shpping-cart .num,
.navbar_fixed .navbar .search_cart .shpping-cart .num {
    background: #6754e2;
    color: #fff;
}

.cart-single-item .cart-img img {
    width: 100%;
    height: auto;
}

header.header_area.navbar_fixed .navbar .navbar-nav .menu-item a:hover,
.blog_list_item .blog_content a:hover,
.blog_list_item .blog_content a:hover h5,
.blog .menu > .nav-item > .nav-link:hover {
    color: #5e2ced;
}

.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item .nav-link .navdropdown_link .navdropdown_icon img {
    max-width: 30px;
    margin-top: 7px;
}

.menu > .nav-item.submenu .dropdown-menu.mega_menu_three .nav-item {
    padding-top: 0;
    padding-bottom: 0;
}

.s_service_info .s_service_item {
    margin-bottom: 25px;
}

header.header_area.header_stick {
    position: absolute;
}

header.header_area.header_stick.navbar_fixed .header_top {
    display: none;
}

.header_area .header_top {
    background: #13112d;
}

.header_area .header_top .header_top_column {
    font-size: 14px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.header_area .header_top ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header_area .header_top ul p,
.header_area .header_top ul li {
    display: inline-block;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
}

.header_area .header_top a {
    color: #c3c1da;
    font-weight: 300;
    padding-left: 5px;
}

.header_area .header_top ul li:before {
    content: "";
    width: 1px;
    height: 12px;
    top: 1px;
    background: #5e5d76;
    display: inline-block;
    position: relative;
    margin: 0px 22px 0px 20px;
}

.header_area .header_top ul.header_social_icon li:before,
.header_area .header_top ul li:first-child:before {
    display: none;
}

.header_area .header_top .right_content {
    text-align: right;
}

.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item:hover {
    z-index: 1;
}

.menu > .nav-item + li.nav-item.search {
    margin-left: 0;
}

.navbar .search_cart .search a.nav-link i {
    color: #fff;
}

.navbar .search_cart .shpping-cart .dropdown-menu .cart-single-item {
    padding: 20px 20px 0;
    font-size: 15px;
}

.navbar .search_cart .shpping-cart .dropdown-menu .cart-single-item.last_cart_item {
    padding-bottom: 20px;
}

.navbar .search_cart .search {
    border: none;
}

.navbar .search_cart .search a.nav-link {
    margin-top: 5px;
    font-size: 16px;
}

.navbar .search_exist .search_cart .cart-btn {
    margin-left: 0;
    font-size: 20px;
}

.blog_area_two .nav-links {
    margin: 0 auto;
}

/** === Alerts Messages CSS === **/
.alert.notice {
    background: #f9f8fc;
    border-color: #e9e6f5;
    color: #677294;
}
.alert {
    font-size: 16px;
    line-height: 34px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    margin-bottom: 30px;
}
.alert i {
    float: left;
    font-size: 20px;
    line-height: 32px;
    margin-right: 20px;
}
.alert .alert_close {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.alert .alert_close i {
    margin-right: 0;
}
.alert.error {
    background: #ffebeb;
    border-color: #f4bdbd;
    color: #eb4a4a;
}
.alert.warning {
    background: #fffaeb;
    border-color: #edd796;
    color: #e7b931;
}
.alert.info {
    background: #ebfcff;
    border-color: #aee9f3;
    color: #49cbe1;
}
.alert.success {
    background: #ecffeb;
    border-color: #b0efac;
    color: #4acc43;
}
.alert.message {
    background: #f5f1fd;
    border-color: #d7caf5;
    color: #8d62e3;
}
.big_alert {
    padding: 40px;
    font-size: 20px;
}
.big_alert i {
    font-size: 24px;
}
.box_alert {
    border: 1px solid #e9e6f5;
    padding: 40px;
    position: relative;
    margin-bottom: 30px;
}
.box_alert .alert_close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #677294;
    font-size: 20px;
    cursor: pointer;
}
.box_alert .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    color: #677294;
    border: 1px solid #e9e6f5;
    background: #f9f8fc;
    border-radius: 50%;
    margin-right: 30px;
}
.box_alert.box_warning .icon {
    background: #fffaeb;
    border-color: #edd796;
    color: #e7b931;
}
.box_alert.box_success .icon {
    background: #ecffeb;
    border-color: #b0efac;
    color: #4acc43;
}
.box_alert.box_error .icon {
    background: #ffebeb;
    border-color: #f4bdbd;
    color: #eb4a4a;
}
.box_alert.box_info .icon {
    background: #ebfcff;
    border-color: #aee9f3;
    color: #49cbe1;
}
.box_alert.box_info_two .icon {
    background: #f5f1fd;
    border-color: #d7caf5;
    color: #8d62e3;
}
.box_alert .media-body h5 {
    font-size: 20px;
    line-height: 28px;
    color: #222d39;
    font-weight: 500;
    margin-bottom: 10px;
}
.box_alert .media-body p {
    font-size: 15px;
    line-height: 28px;
    color: #677294;
}

.digital_banner_area .digital_video_slider {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.faq_content .tab-pane .card .card-header .btn.collapsed {
    color: #576370 !important;
}

.col-lg-4.d-flex.justify-content-end {
    align-items: center;
}

.faq_content .tab-pane .card .card-body {
    padding-bottom: 20px;
}

p.comment-form-cookies-consent {
    margin-left: 15px;
}

p.comment-form-cookies-consent input#wp-comment-cookies-consent {
    margin-right: 10px;
}

.not_logged_in input#submit {
    margin-top: 10px;
}

header.header_area.navbar_fixed .navbar .navbar-nav .menu-item a.nav-link.active {
    color: #5e2ced;
}

.new_call_action_area .action_mobile img {
    margin-top: -60px;
}

.widget.instagram_widget ul li a img {
    width: 100px !important;
    height: auto !important;
}

.comments_widget ul li .comments_items .media-body p {
    font-weight: 400;
}
.agency_banner_btn, .btn_get {
    font-family: inherit;
}

.no_comments + .blog_comment_box #respond {
    padding-top: 0;
}

.startup_tab_img .web_img {
    opacity: 1;
}

.startup_tab_img .phone_img {
    opacity: 1;
}

.sidebar_widget a.nav-link {
    padding-left: 0;
}

#myTabContent.tab-content>.tab-pane {
    display: block;
}

#myTabContent .fade:not(.show) {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

#myTabContent .slick-slide img {
    display: inline-block;
}

ul.slick-dots {
    margin: 0 auto;
    text-align: center;
}

ul.slick-dots {
    text-align: center;
    padding-top: 20px;
    position: static;
}
ul.slick-dots li.slick-active button {
    background: #00aff0;
    color: #fff;
}

ul.slick-dots li {
    display: inline-block;
    margin-right: 5px;
}

ul.slick-dots li button {
    background: #cfcfe7;
    border: 0px;
    border-radius: 20px;
    width: 30px;
}
/**=== Update Custom CSS by Arif ===**/
/*** Add Custom CSS ERP, Hosting, POS***/
.erp_features_img_two {
    padding-top: 0;
}
.flex-row-reverse .erp_features_img_two .img_icon {
    margin-top: -50px;
}
input.wpcf7-form-control.wpcf7-submit.btn.btn_pos {
    color: #fff;
}

.domain_form_inner input {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input.wpcf7-form-control.wpcf7-submit.hosting_btn {
    width: 21%;
    border: 0px;
    padding: 25px 32px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #fff;
    background: #f8636b;
    font-size: 16px;
    font-weight: 500
}
.erp_testimonial_item .media img {
    width: auto!important;
}
.erp_testimonial_info .owl-nav button.owl-prev, .erp_testimonial_info .owl-nav button.owl-next {
    font-size: 45px !important;
    color: #c1c1d4 !important;
}
/** === Hosting Slider === **/
.hosting-slider .hesperiden.tparrows:hover:before {
    color: #f8636b;
}
.hosting-slider .hesperiden .tp-bullet:hover, #rev_slider_1_1_wrapper .hesperiden .tp-bullet.selected {
    border-color: #f8636b;
}
.hosting-slider .hesperiden.tp-leftarrow {
    position: relative;
}
.hosting-slider .hesperiden.tp-leftarrow:after {
    content: '';
    width: 2px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 43px;
    opacity: .16;
}
.header_area.navbar_fixed {
    z-index: 999;
}
.hosting_btn, .domain_form_inner .hosting_btn[type="submit"] {
    background: #f8636b;
}
.erp_banner_area_two .section_container .intro_content .er_btn {
    -webkit-box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
    box-shadow: 0px 20px 30px 0px rgba(45, 93, 237, 0.1);
}
.erp_banner_area_two .section_container .intro_content .er_btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.payment_features_area .featured_item + .featured_item {
    margin-top: 50px;
}
.payment_clients_area {
    z-index: 1;
}
.design_tab .nav-item .nav-link, .s_pricing-item {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.04);
    box-shadow: 0px 2px 3px 0px rgba(12, 0, 46, 0.04);
}
.analytics_border_bottom {
    border-bottom: 1px solid #ececf6;
}
.tab-content .tab_img {
    max-width: none;
}
.navbar.menu_left .search_cart .search a.nav-link:before,
.navbar.menu_center .search_cart .search a.nav-link:before {
    display: none !important;
}
.faq_solution_area .flex-row-reverse {
    align-items: center;
}
.design_tab .normal_color .title_color {
    margin-bottom: 10px;
}

.breadcrumb_area .breadcrumb_shap {
    height: 100%;
    width: 100%;
}

/**=== Saalsand Demo Pagae slick dot ===**/
.portfolio_area .p_slider_inner ul.slick-dots li button {
    background: #cfcfe7;
    width: 08px;
}

li.nav-item.shpping-cart.dropdown.submenu {
    border: none;
}

.new_service .col-lg-4:nth-child(4) .separator,
.new_service .col-lg-4:nth-child(8) .separator {
    display: none;
}

.study_details .details_img img {
    max-width: 100%;
    height: auto;
}

.page-template-page-agency-colorful .color_switcher_zone {
    display: none;
}

#results .available {
    color: #4CAF50;
}

#results .domain_name {
    color: #3FA5FF;
}

.result .not-available span {
    color: #e43a2d;
}

.page-template-page-agency-colorful .header_area {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 20;
    top: 0;
}

ul.search_cart li>a::before {
    display: none !important;
}

div#comments {
    clear: both;
}