@media (max-width: 1550px) {
    .saas_home_img img, .software_img img,
    .company_widget img, .protype_img, .prototype_banner_area img.protype_img {
        max-width: 100% !important;
    }
    .app_img .text_bg.pointer_img0.text_bg.one {
        left: -63% !important;
    }
    .menu > .nav-item:nth-last-child(-n+2).submenu .dropdown-menu {
        left: auto !important;
        right: -60px !important;
    }
    .software_banner_area {
        margin-top: 80px;
    }
}

@media (max-width: 1199px) {
    .payment_features_area .payment_featured_img img {
        max-width: 100% !important;
    }
    .app_img .text_bg.pointer_img0.text_bg.one {
        left: -26% !important;
    }
    .payment_service_area,
    .payment_action_area {
        padding: 130px 0px 80px;
    }
    .payment_clients_area {
        padding: 100px 0px
    }
}

@media (min-width: 992px) {
    ul.navbar-nav > li.dropdown > a > span {
        display: none;
    }
}

@media (max-width: 991px) {
    .open .search_boxs .input-group {
        width: 90%;
    }
    .menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item {
        padding-top: 0;
    }
    .header_area a.menu_cus {
        margin-left: 30px !important;
    }
    ul.navbar-nav.search_cart.menu {
        background: transparent;
        padding-top: 22px !important;
        padding-right: 20px !important;
    }
    ul#menu-all-pages > li.dropdown > a > span,
    .dropdown-menu span.arrow_carrot-right {
        top: -1px !important;
        margin-left: 10px !important;
        right: auto;
    }
    .footer_top {
        padding-top: 80px !important;
    }
    .nav_full_width nav.navbar {
        padding: 0px 15px !important;
    }
    .menu_four .menu > .nav-item .nav-link, .menu_five .menu > .nav-item .nav-link, .menu_six .menu > .nav-item .nav-link, .menu_seven .menu .nav-item .nav-link {
        color: #051441 !important;
    }
    .hidden-sm {
        display: none !important;
    }
    .feature_info .feature_img.f_img_one .one,
    .feature_info .feature_img.f_img_two .two{
        position: relative;
    }
    .feature_info .feature_img.f_img_one .two {
        left: 15px !important;
        bottom: 0px !important;
    }
    .nav_full_width a.navbar-brand.sticky_logo img {
        padding: 10px 0;
    }
    .feature_info .feature_img.f_img_one .one {
        top: 30px !important;
    }
    .prototype_banner_area {
        padding-top: 140px !important;
    }
    .p_feature_item .prototype_content h2 {
        font-size: 20px !important;
        line-height: 28px !important;
    }
    .breadcrumb_area_two {
        padding: 170px 0px 90px !important;
    }
    .blog_grid_info .blog_list_item .post_date h2 {
        font-size: 18px !important;
    }
    .blog_grid_info .blog_list_item .post_date {
        padding: 4px 10px !important;
        left: 10px !important;
        top: 10px !important;
    }
    .not_logged_in .checkout_content.coupon_form {
        margin-left: 0;
        margin-bottom: 50px !important;
        margin-top: 20px !important;
    }
    header.header_area .menu > .nav-item > .nav-link {
        color: #051441 !important;
    }
    header.header_area .menu > .nav-item > .nav-link:not(.cart-btn) span{
        position: absolute;
        right: 0px;
        top: -4px;
        width: 24px;
        height: 24px;
        border: 1px solid #ededed;
        border-radius: 50%;
        line-height: 22px;
        text-align: center;
    }
    .blog-sidebar {
        margin-top: 100px !important;
    }
}

/*
------------ Admin bar position ----------------
------------------------------------------------ */
@media (max-width: 782px) {
    .software_featured_area {
        padding: 80px 0 !important;
    }
}

@media (max-width: 768px) {
    .navbar .search_cart .search a.nav-link {
        margin-top: 8px;
    }
    .breadcrumb_content h1 {
        font-weight: 600;
    }
    .header_area .header_top .header_top_column.left_content {
        width: 80%;
    }
    .header_area .header_top .header_top_column.right_content {
        width: 20%;
    }
    .job_listing .listing_tab .list_item .joblisting_text h4 a {
        padding-top: 10px !important;
        font-size: 18px !important;
    }
    .pr_details_area {
        padding-top: 80px !important;
    }
    a#cancel-comment-reply-link {
        float: right;
    }
    .form-submit input#submit {
        margin-top: 30px !important;
    }
    .app_feature_info .app_featured_content {
        padding-top: 80px !important;
    }
    .s_service_section {
        margin-top: 120px !important;
    }
    .mobile_img .women_img {
        max-width: 40% !important;
    }
    .svg_intro_bottom {
        max-width: none !important;
    }
    .s_features_item .s_features_content {
        padding-top: 100px !important;
    }
    .s_promo_info .promo_item.item_eight {
        width: 120px !important;
        height: 120px !important;
    }
    .footer_area_four .footer_top {
        padding-top: 80px !important;
    }
    .footer-widget {
        padding-top: 25px !important;
    }
    .fun_fact_content .fact_item {
        width: 160px !important;
    }
    .domain_form_inner input {
        padding-left: 0;
    }
    .domain_form_inner button.hosting_btn {
        padding: 10px 15px;
    }
    .domain_form_inner .domain_select select,
    .domain_form_inner input::placeholder {
        font-size: 15px;
    }
    .hosting_tab .nav-item {
        width: 100%;
    }
    .domain_form_inner input {
        width: 62%;
    }
    .domain_form_inner button:before  {
        display: none;
    }
    .domain_form_inner .domain_select .selectpickers {
        font-size: 15px;
    }
    .navbar .search_cart .search {
        padding-top: 5px;
    }
}

@media (max-width: 601px) {
    .admin-bar header.header_area.navbar_fixed {
        margin-top: 0;
    }
    .f_size_50 {
        font-size: 36px;
        line-height: 1.3;
    }
    .payment_banner_content {
        margin-top: -150px;
    }
}

@media (max-width: 576px) {
    ul.navbar-nav.search_cart.menu {
        padding-right: 10px !important;
    }
    p.sticky-label {
        padding: 5px 10px !important;
    }
    .breadcrumb_area {
        padding: 160px 0px 60px !important;
    }
    .home_bubble {
        display: none;
    }
    .apply_form .upload_box {
        display: block;
    }
    .apply_form .upload_box input[type="file"] {
        margin-top: 20px !important;
        padding-left: 0;
    }
    .comment-header+.rating {
        float: none;
    }
    .comment-header+.rating .star-rating {
        margin-left: 0;
        margin-bottom: 10px !important;
    }
    .footer_bottom .f_social_icon_two, .footer_bottom ul {
        text-align: center !important;
    }
    .mobile_img .mobile {
        max-width: 100% !important;
    }
    .subscribe_form_info {
        padding: 50px 20px !important;
    }
    .product_info_details .pr_tab .nav-item:first-child,
    .product_info_details .pr_tab .nav-item:last-child,
    .product_info_details .pr_tab .nav-item  {
        border-radius: 45px !important;
        margin-bottom: 5px !important;
        border-width: 1px !important;
        width: 100%;
        border-left: 1px solid #e7e7f6;
    }
    .header_top_shown .breadcrumb_area {
        padding: 190px 0px 60px !important;
    }
}

@media (max-width: 480px) {
    .row.feature_info {
        padding-top: 100px !important;
    }
    .hosting_title {
        margin-bottom: 30px;
    }
    .erp_testimonial_item .ratting {
        padding-top: 10px;
    }
    .payment_banner_content .action_btn .agency_banner_btn {
        padding: 12px 20px;
    }
    .payment_banner_content p {
        font-size: 16px;
        line-height: 1.4;
    }
    .payment_action_area,
    .payment_service_area,
    .payment_clients_area {
        padding: 80px 0px
    }
}

@media (max-width: 450px) {
    .app_img .text_bg {
        max-width: 60% !important;
    }
    .app_img .text_bg.pointer_img0.text_bg.one {
        left: -2% !important;
    }
    a#cancel-comment-reply-link {
        float: none;
        display: block;
        padding-top: 15px !important;
    }
    .pr_details .ratting .star-rating {
        margin-left: 0;
    }
    .header_area .header_top ul li:before {
        display: none;
    }
}

@media (max-width: 400px) {
    .prototype_content .btn_three {
        width: 100%;
    }
    .tab-content .tab_img {
        max-width: 100%;
    }
    .payment_banner_content {
        margin-top: -70px;
    }
}

@media (min-width: 992px) {
    .menu > .nav-item.submenu.mega_menu .dropdown-menu .nav-item > .dropdown-menu {
        top: 0;
    }
}

@media (max-width: 992px) {
    .tab-content .tab_img {
        max-width: 100%;
    }
}

