.elementor-5309 .elementor-element.elementor-element-1b1a3907 .elementor-repeater-item-fd5f9b2{color:#4054B2;background-color:#FFFC00;border-color:#FFFC00;border-radius:8px 8px 8px 8px;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .l_height60{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_700.t_color3.mb_40{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_500.f_size_50.w_color{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_size_40.w_color.mb-0{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .l_height50.w_color.mb_20{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_700.f_size_50.w_color{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .hosting_color_s.wow{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .pos_banner_text .saasland_hero_pos{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .saasland_html_class_color{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .banner_text h2{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .startup_content_three h2{color:#FFFFFF;}
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .l_height50.w_color.mb_20,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .l_height60,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_700.t_color3.mb_40,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_500.f_size_50.w_color,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_size_40.w_color.mb-0,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_700.f_size_50.w_color,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .hosting_color_s.wow,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .pos_banner_text .saasland_hero_pos,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .saasland_html_class_color,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .banner_text h2,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .startup_content_three h2
                {font-size:44px;line-height:1.1em;letter-spacing:-2.6px;}
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .slider_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .startup_content_three p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_300.l_height28,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .software_banner_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .saas_banner_content.text-center p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .payment_banner_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .hosting_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .pos_banner_text h6,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .h_analytics_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .banner_text p
                {font-size:22px;font-weight:500;letter-spacing:0px;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 .hosting_banner_area{background:#3678B9;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 > .elementor-widget-container{margin:0% 0% 0% 0%;padding:0% 0% 0% 0%;transition:background 3s;}.elementor-5309 .elementor-element.elementor-element-1b1a3907{z-index:0;}.elementor-5309 .elementor-element.elementor-element-265f99fb > .elementor-widget-container{margin:-1% -15% 0% -15%;}.elementor-5309 .elementor-element.elementor-element-4ab3ced9{text-align:center;}.elementor-5309 .elementor-element.elementor-element-4ab3ced9.elementor-widget-heading .elementor-heading-title{color:#4054B2;}.elementor-5309 .elementor-element.elementor-element-4ab3ced9 > .elementor-widget-container{margin:-192px 0px 00px 100px;}.elementor-5309 .elementor-element.elementor-element-3a266f50 > .elementor-widget-container{margin:-7% -9% -9% 1%;}.elementor-5309 .elementor-element.elementor-element-7e32fa1 .elementor-repeater-item-6e14701{color:#4054B2;background-color:#FFFC00;border-color:#FFFC00;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-5309 .elementor-element.elementor-element-7e32fa1 .hosting_banner_area{background:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-7e32fa1 > .elementor-widget-container{margin:1% -2% 0% -2%;}.elementor-5309 .elementor-element.elementor-element-7e32fa1{z-index:5;}.elementor-5309 .elementor-element.elementor-element-1470cc8e:not(.elementor-motion-effects-element-type-background), .elementor-5309 .elementor-element.elementor-element-1470cc8e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3678B9;}.elementor-5309 .elementor-element.elementor-element-1470cc8e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-5309 .elementor-element.elementor-element-1470cc8e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5309 .elementor-element.elementor-element-35738844 .prototype_service_info h2{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .text-center.mb_90{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .software_featured_area h2{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .f_600.f_size_30.t_color3{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .sl_color_s.wow{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .software_featured_area .container > p{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .hosting_title p{color:#FFFFFF;}.elementor-5309 .elementor-element.elementor-element-35738844 .p_service_item h5{color:#4054B2;}.elementor-5309 .elementor-element.elementor-element-35738844 .f_600.t_color3{color:#4054B2;}.elementor-5309 .elementor-element.elementor-element-35738844 .h_head{color:#4054B2;}.elementor-5309 .elementor-element.elementor-element-35738844 .chat_features_item h4{color:#4054B2;}.elementor-5309 .elementor-element.elementor-element-576f34ab a.elementor-button, .elementor-5309 .elementor-element.elementor-element-576f34ab .elementor-button{fill:#4054B2;color:#4054B2;background-color:#FFFC00;border-radius:12px 12px 12px 12px;}.elementor-5309 .elementor-element.elementor-element-576f34ab .elementor-button{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-5309 .elementor-element.elementor-element-576f34ab > .elementor-widget-container{margin:5% 0% 0% 0%;}.elementor-5309 .elementor-element.elementor-element-6c149af2{text-align:center;}.elementor-5309 .elementor-element.elementor-element-6c149af2 .elementor-heading-title{font-size:45px;}.elementor-5309 .elementor-element.elementor-element-37b91800 .f_600.t_color2.mt_30{color:#FF0000;font-size:28px;}.elementor-5309 .elementor-element.elementor-element-37b91800 .price_item p{color:#4054B2;}.elementor-5309 .elementor-element.elementor-element-37b91800 .price_content .price_item .price_btn{color:#FB0505;border:1px solid #FF0000;}.elementor-5309 .elementor-element.elementor-element-37b91800 .price_content .price_item .price_btn:hover{color:#FFFFFF;background:#F80606;}.elementor-5309 .elementor-element.elementor-element-237acf96 > .elementor-container{min-height:607px;}.elementor-5309 .elementor-element.elementor-element-237acf96 > .elementor-container:after{content:"";min-height:inherit;}.elementor-5309 .elementor-element.elementor-element-237acf96:not(.elementor-motion-effects-element-type-background), .elementor-5309 .elementor-element.elementor-element-237acf96 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://prestamoscloud.com/wp-content/uploads/2021/08/Background-color.png");}.elementor-5309 .elementor-element.elementor-element-237acf96{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-5309 .elementor-element.elementor-element-237acf96 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5309 .elementor-element.elementor-element-59ae68a0 > .elementor-element-populated{margin:0% 0% 0% 0%;}.elementor-5309 .elementor-element.elementor-element-745a2b24 .elementor-image img{width:80%;max-width: 90%;opacity:1;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-5309 .elementor-element.elementor-element-745a2b24 > .elementor-widget-container{margin:0% -100% 0% -22%;}.elementor-5309 .elementor-element.elementor-element-475e537e .elementor-text-editor{column-gap:0px;}.elementor-5309 .elementor-element.elementor-element-4b4dfa24 a.elementor-button, .elementor-5309 .elementor-element.elementor-element-4b4dfa24 .elementor-button{fill:#4054B2;color:#4054B2;background-color:#FFFC00;border-radius:12px 12px 12px 12px;}.elementor-5309 .elementor-element.elementor-element-4b4dfa24 .elementor-button{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-5309 .elementor-element.elementor-element-4b4dfa24 > .elementor-widget-container{margin:12px 0px 12px 0px;}.elementor-5309 .elementor-element.elementor-element-2342c991{text-align:right;}.elementor-5309 .elementor-element.elementor-element-2342c991 > .elementor-widget-container{margin:11% 55% 0% -50%;}.elementor-5309 .elementor-element.elementor-element-323cc5e3 a.elementor-button, .elementor-5309 .elementor-element.elementor-element-323cc5e3 .elementor-button{fill:#4054B2;color:#4054B2;background-color:#FFFC00;border-radius:12px 12px 12px 12px;}.elementor-5309 .elementor-element.elementor-element-323cc5e3 .elementor-button{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-5309 .elementor-element.elementor-element-323cc5e3 > .elementor-widget-container{margin:0% 0% 0% 18%;}.elementor-5309 .elementor-element.elementor-element-5566ba6c{text-align:right;}.elementor-5309 .elementor-element.elementor-element-5566ba6c .elementor-image img{width:100%;}.elementor-5309 .elementor-element.elementor-element-63b9beab > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-5309 .elementor-element.elementor-element-63b9beab{padding:100px 0px 100px 0px;}.elementor-5309 .elementor-element.elementor-element-4e00e343 > .elementor-element-populated{padding:0% 20% 0% 20%;}.elementor-5309 .elementor-element.elementor-element-639dec60{text-align:center;}.elementor-5309 .elementor-element.elementor-element-639dec60.elementor-widget-heading .elementor-heading-title{color:#000000;}.elementor-5309 .elementor-element.elementor-element-639dec60 .elementor-heading-title{font-size:45px;font-weight:600;line-height:1.2em;}.elementor-5309 .elementor-element.elementor-element-71b13052{text-align:center;}.elementor-5309 .elementor-element.elementor-element-71b13052 .elementor-heading-title{font-size:15px;font-weight:300;}.elementor-5309 .elementor-element.elementor-element-71b13052 > .elementor-widget-container{margin:-10px 0px 30px 0px;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-tab-title{border-width:0px;border-color:rgba(191,191,191,0);color:#000000;font-size:16px;font-weight:900;text-transform:uppercase;padding:30px 30px 30px 30px;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-tab-content{border-width:0px;border-bottom-color:rgba(191,191,191,0);font-size:20px;font-weight:300;line-height:1.8em;padding:15px 35px 15px 35px;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-toggle-item:not(:last-child){margin-bottom:32px;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-toggle-item{box-shadow:0px 0px 30px 0px rgba(0,0,0,0.12);}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-tab-title .elementor-toggle-icon i:before{color:#000000;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-tab-title .elementor-toggle-icon svg{fill:#000000;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon i:before{color:#00ce1b;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc .elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon svg{fill:#00ce1b;}body.elementor-page-5309 h1.entry-title, .elementor-page-title{display:none;}@media(max-width:1024px){.elementor-5309 .elementor-element.elementor-element-63b9beab{padding:100px 25px 100px 25px;}.elementor-5309 .elementor-element.elementor-element-4e00e343 > .elementor-element-populated{padding:0px 0px 0px 0px;}}@media(max-width:767px){
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .l_height50.w_color.mb_20,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .l_height60,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_700.t_color3.mb_40,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_500.f_size_50.w_color,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_size_40.w_color.mb-0,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_700.f_size_50.w_color,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .hosting_color_s.wow,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .pos_banner_text .saasland_hero_pos,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .saasland_html_class_color,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .banner_text h2,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .startup_content_three h2
                {font-size:32px;}
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .slider_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .startup_content_three p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .f_300.l_height28,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .software_banner_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .saas_banner_content.text-center p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .payment_banner_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .hosting_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .pos_banner_text h6,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .h_analytics_content p,
                .elementor-5309 .elementor-element.elementor-element-1b1a3907 .banner_text p
                {font-size:20px;}.elementor-5309 .elementor-element.elementor-element-1b1a3907 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-5309 .elementor-element.elementor-element-64fc99e7 .elementor-image img{width:100%;max-width:100%;}.elementor-5309 .elementor-element.elementor-element-64fc99e7 > .elementor-widget-container{margin:-11px -11px -11px -11px;}.elementor-5309 .elementor-element.elementor-element-576f34ab > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5309 .elementor-element.elementor-element-475e537e .elementor-text-editor{text-align:center;}.elementor-5309 .elementor-element.elementor-element-4b4dfa24 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5309 .elementor-element.elementor-element-2342c991{text-align:center;}.elementor-5309 .elementor-element.elementor-element-2342c991 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5309 .elementor-element.elementor-element-323cc5e3 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5309 .elementor-element.elementor-element-5566ba6c > .elementor-widget-container{margin:30px 30px 30px 30px;}.elementor-5309 .elementor-element.elementor-element-63b9beab{padding:50px 20px 50px 20px;}.elementor-5309 .elementor-element.elementor-element-5ffafbfc > .elementor-widget-container{padding:15px 0px 0px 0px;}}@media(min-width:768px){.elementor-5309 .elementor-element.elementor-element-59ae68a0{width:50%;}.elementor-5309 .elementor-element.elementor-element-7f33f422{width:50%;}}